@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300');
@import-normalize;
html.bg {
   background: -moz-linear-gradient(left, #74ebd5 0%, #ACB6E5 100%);
   background: -webkit-linear-gradient(left, #74ebd5 0%, #ACB6E5 100%);
   background: linear-gradient(to right, #74ebd5 0%, #ACB6E5 100%);
}

input,
button {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #ccc;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   margin: 0px !important;
}

p {
   margin: 0px;
}

input,
select {
   border-radius: 5px !important;
}

.ftxt {
   padding: 3px 0px 3px 10px;
   margin-bottom: 0px;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.reg {
   font-weight: 500;
   border-radius: 5px;
   letter-spacing: .5px;
   border: none;
   background: #6771E5;
   box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
   transition: all .22s;
}

.reg:hover {
   transform: translateY(-1px);
   box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
   filter: brightness(130%);
}

.reg:active {
   transform: translateY(1px);
   box-shadow: 0 7px 14px rgba(50, 50, 93, .11), 0 3px 6px rgba(0, 0, 0, .08);
   filter: brightness(100%);
}

.brand-logo {
   height: 30px;
   width: auto;
}

nav {
   height: 60px;
}

.footer-bottom {
   color: white;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
}

.ftxt {
   padding: 3px 0px 3px 10px;
   margin-bottom: 0px;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.mform {
   border-radius: 5px;
   max-width: 400px;
   margin-bottom: 10px;
}

.mform:before {
   content: '';
   width: 100%;
   height: .5rem;
   top: 0;
   left: 0;
   background: -moz-linear-gradient(left, #00F260 0%, #0575E6 100%);
   background: -webkit-linear-gradient(left, #00F260 0%, #0575E6 100%);
   background: linear-gradient(to right, #00F260 0%, #0575E6 100%);
   display: block;
   position: absolute;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.uk-form-label {
   padding-left: 3px;
}

.uk-form-label.uk-text-right {
   font-size: 12px;
   color: rgb(90, 90, 248);
   padding-right: 5px;
   margin-top: 1px;
}

.centre {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.uk-form-label.error {
   color: red;
}

.brand-logo {
   height: 20px;
   width: auto;
   margin-bottom: 20px;
}

.herot {
   color: white;
   text-align: center;
   font-size: 25px;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) {
   .brand-logo {
      height: 30px;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   nav {
      height: 60px;
      padding-bottom: 10px;
   }
}

@media screen and (min-width: 640px) {
   .brand-logo {
      height: 35px;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   nav {
      height: 60px;
      padding-bottom: 20px;
   }
}

@media screen and (min-width:960px) {
   .brand-logo {
      height: 35px;
      width: auto;
      left: 0;
   }
   .herot {
      color: white;
      text-align: center;
      font-size: 50px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   }
   .hero{
      padding-top: 100px;
   }
}
